.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7ea864;
    color: #fff;
    padding: 10px;
  }

.name{
   float: left;
   font-size: x-large
}
.links{
   float: right;
   font-size: x-large;
}
.body{
    max-width: 960px;
    color:black;
    margin: 0 auto;
    display: block;
}

*{
    box-sizing: border-box;
}
section{
    border-top: 1px solid #bbb;
}
.main{
    margin-top: 100px;
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: aliceblue;
    font-family: sans-serif;
}
main{
    display: block
}

.banner:after {
    content: "";
    display: block;
    clear: both;
  }

  .container {
    position: relative;
  }

  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.content {
    margin-top: 100px;
    padding: 20px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
  }
