.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #88bb68;
    color: #fff;
    padding: 10px;
  }

  .name {
    float: left;
    font-size: x-large;
  }

  .links {
    float: right;
    font-size: x-large;
  }

  .body {
    max-width: 960px;
    color: black;
    margin: 0 auto;
    display: block;
  }

  * {
    box-sizing: border-box;
  }

  section {
    border-top: 1px solid #bbb;
  }

  .main {
    margin-top: 100px;
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: aliceblue;
    font-family: sans-serif;
  }

  main {
    display: block;
  }

  .banner:after {
    content: "";
    display: block;
    clear: both;
  }

  .form-container {
    position: relative;
  }

  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content {
    margin-top: 100px;
    padding: 20px;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  .form-container {
    max-width: 400px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group textarea {
    resize: vertical;
    height: 100px;
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6fa38f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #45a049;
  }

  .grid-container {
    display: grid;
  }

  @media screen and (max-width: 768px) {
    .name,
    .links {
      float: none;
      font-size: medium;
    }

    .form-container {
      max-width: none;
    }

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
